[data-tooltip] {
  cursor:   pointer;
  position: relative;
  &:before, &:after {
    position:       absolute;
    visibility:     hidden;
    opacity:        0;
    pointer-events: none;
    transition:     all 0.15s cubic-bezier(0.5, 1, 0.25, 1);
    z-index:        1;
  }
  &:before {
    padding:        5px;
    width:          250px;
    border-radius:  3px;
    background:     $black;
    color:          $white;
    content:        attr(data-tooltip);
    text-align:     center;
    font-size:      0.9rem;
    line-height:    130%;
    font-weight:    400;
    text-transform: none;
    top:            100%;
    left:           50%;
    margin-top:     5px;
    transform:      translateX(-50%);
  }
  &:after {
    border:        8px solid transparent;
    width:         0;
    content:       "";
    font-size:     0;
    line-height:   0;
    top:           100%;
    left:          50%;
    transform:     translateX(-50%);
    border-bottom: 8px solid #000000;
    border-top:    none;
  }
  &:hover {
    &:before, &:after {
      visibility: visible;
      opacity:    1;
      transform:  translateX(-50%) translateY(5px);
    }
  }
}