/* Colors */
/* Style */
h2 {
  font-size: 1.6rem;
}

a.btn, input[type=submit] {
  padding: 14px 14px;
  font-size: 0.95rem;
}

section > div, header #Header > div, header #Bar > div {
  width: 960px;
}

header {
  position: relative;
}
header #Header {
  background: #fafafa;
}

section {
  padding: 25px 0 !important;
}

form .input-group > label {
  font-size: 1rem;
}

form .input-group textarea {
  line-height: 1.3;
  height: 250px;
  resize: vertical;
}

form .input-group .w-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

form .input-group .w-js {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #000000;
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  border: 0 none;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
}

form .input-group .w-js::before {
  width: 160px;
}

form .input-group .w-js:hover,
form .input-group .w-js:focus {
  opacity: 0.9;
}

form .input-group .w-js:active {
  opacity: 0.7;
}

form .input-group .w-js:hover::before,
form .input-group .w-js:focus::before {
  display: block;
}

.w-js[data-type="p"] {
  background-image: url("../icons/icon_p.svg");
}

.w-js[data-type="bold"] {
  background-image: url("../icons/icon_bold.svg");
}

.w-js[data-type="italic"] {
  background-image: url("../icons/icon_italic.svg");
}

.w-js[data-type="underline"] {
  background-image: url("../icons/icon_underline.svg");
}

.w-js[data-type="heading"] {
  background-image: url("../icons/icon_heading.svg");
}

.w-js[data-type="h2"] {
  background-image: url("../icons/icon_h2.svg");
}

.w-js[data-type="h3"] {
  background-image: url("../icons/icon_h3.svg");
}

.w-js[data-type="ul"] {
  background-image: url("../icons/icon_ul.svg");
}

.w-js[data-type="ol"] {
  background-image: url("../icons/icon_ol.svg");
}

.w-js[data-type="item"] {
  background-image: url("../icons/icon_list-item.svg");
}

.w-js[data-type="group"] {
  background-image: url("../icons/icon_group-images.svg");
}

.w-js[data-type="img"] {
  background-image: url("../icons/icon_image.svg");
}

form .input-group .wysiwyg {
  height: 600px;
}

.progress-block {
  width: 100%;
  text-align: center;
}
.progress-block > p {
  font-size: 1.2rem;
  font-weight: 700;
}
.progress-block > .progress {
  background-image: -o-linear-gradient(to right, #ffd200 0%, #ffba00 51%, #ffd200 100%);
  background-image: -moz-linear-gradient(to right, #ffd200 0%, #ffba00 51%, #ffd200 100%);
  background-image: -webkit-linear-gradient(to right, #ffd200 0%, #ffba00 51%, #ffd200 100%);
  background-image: linear-gradient(to right, #ffd200 0%, #ffba00 51%, #ffd200 100%);
  width: 75%;
  height: 25px;
  margin: 14px auto;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
}
.progress-block > .progress > .bar {
  width: 100%;
  height: 25px;
  background: #dddddd;
  left: 0;
  position: absolute;
  top: 0;
}

#Notifications {
  visibility: visible;
  position: fixed;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 20px;
  right: 20px;
  width: 25vw;
  height: 50vh;
  z-index: 2;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
#Notifications > .item {
  padding: 14px;
  max-width: 350px;
  display: block;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
  margin-bottom: 14px;
}

#Selector h2 {
  font-weight: 700;
}
#Selector .grd {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 14px 1fr 14px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  grid-auto-rows: 1fr;
  padding: 14px;
}
#Selector .grd.editing > .item {
  box-shadow: 5px 7px 79px -31px rgba(0, 0, 0, 0.75);
}
#Selector .grd.editing > .item.unsortable {
  box-shadow: unset;
}
#Selector .grd > .item {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  padding: 14px 25px;
}
#Selector .grd > .item > svg, #Selector .grd > .item > img {
  border-radius: 50%;
  width: 95px;
  height: 95px;
  margin-right: 14px;
}
#Selector .grd > .item > p {
  font-size: 1.2rem;
  color: #858b8f;
}
#Selector .grd > .item.big {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px 25px;
}
#Selector .grd > .item.big > img {
  width: 100%;
  height: auto;
  border-radius: unset;
  margin-right: 0;
  margin-bottom: 14px;
}
#Selector .grd > .item:hover {
  background: #fafafa;
}

#MediaUpload .img-uploader .title {
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 600;
  margin-bottom: 14px;
}
#MediaUpload .img-uploader .file {
  position: relative;
  width: 40%;
  min-height: 250px;
}
#MediaUpload .img-uploader .file .progress-block {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  left: 0;
  right: 0;
  cursor: not-allowed;
}
#MediaUpload .img-uploader .img {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  background: #fafafa;
  width: 60%;
  max-height: 400px;
}
#MediaUpload .img-uploader .img > img {
  max-height: 100%;
  padding: 25px;
  display: block;
  margin: 0 auto;
}

.image-delete {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  top: 5px;
  right: 0;
  background-color: transparent;
  border: 0 none;
  padding: 0;
  cursor: pointer;
  outline: none;
  z-index: 100;
}

.image-delete::before,
.image-delete::after {
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -3px;
  margin-left: -10px;
  height: 3px;
  width: 20px;
  background-color: #000000;
}

.image-delete::after {
  transform: rotate(-135deg);
}

/*# sourceMappingURL=admin.css.map */

.multiselect {
  position: relative;
}

.multiselect__title {
  font-family: 'Gotham Pro', 'Arial', sans-serif;
  margin-top: 4px;
  width: 100%;
  background: #fafafa;
  border: 1px solid #dddddd;
  padding: 7px 14px;
}

.multiselect__list {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 100%;
  left: 0;
  list-style: none;
  display: none;
  border: 1px solid #dddddd;
}

.multiselect:hover .multiselect__list {
  display: block;
}

.multiselect__item label {
  display: flex;
  align-items: center;
  padding: 7px 14px;
  font-family: 'Gotham Pro', 'Arial', sans-serif;
  width: 100%;
  background: #fafafa;
}

.multiselect__item label input[type="radio"] {
  margin: 3px;
}

.price {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.price__item {
  font-family: 'Gotham Pro', 'Arial', sans-serif;
  margin-top: 4px;
  width: 36%;
  background: #fafafa;
  border: 1px solid #dddddd;
  padding: 7px 14px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  margin-right: 15px;
}

.price--header .price__item {
  background: transparent;
  border: 0 none;
  font-weight: 500;
}

.price__btn {
  padding: 7px 14px;
  border: 0 none;
  font-family: 'Gotham Pro', 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  margin-right: 15px;
  border-radius: 3px;
  color: #ffffff;
}

.price__btn:last-child {
  margin-right: 0;
}

.price__btn--update {
  background: #ffd200;
  color: #000000;
}

.price__btn--delete {
  background: #f54c57;
}

.price__btn--add {
  background: #4ed64e;
}