#MainScreen > div {
  background-color: #f0ece2
}

#MainScreen h1, #MainScreen p.big {
  color: #3a3421
}

a.btn, input[type=submit] {
  color: #fff;
  background-image: -o-linear-gradient(to right, #3a3421 0%, #665833 51%, #3a3421 100%);
  background-image: -moz-linear-gradient(to right, #3a3421 0%, #665833 51%, #3a3421 100%);
  background-image: -webkit-linear-gradient(to right, #3a3421 0%, #665833 51%, #3a3421 100%);
  background-image: linear-gradient(to right, #3a3421 0, #665833 51%, #3a3421 100%)
}

.call__links, .instagram__links, .menu__links, header #Bar {
  background: #3a3421
}

#Styles .question {
  border-color: #3a3421
}

#Styles .item > h4 {
  color: #fff
}

#Principles {
  background: #f0ece2
}

#MainScreen form.lead-form p.lead-form__policy {
  color: #000000!important;
}